PANDAS USE EXAMPLES

1. Creating, reading and writing data

In [94]:
# There are two core objects in pandas: the DataFrame and the Series. 
# Pandas Series are a one-dimensional labeled arrays, capable of holding data of any type (integer, string, float, python objects, etc.).
# A DataFrame is a table. It contains several arrays of individual entries, each of which has an individual value.

import pandas as pd
example_t = pd.DataFrame({'Yes':[51, 22], 'No': [132, 3]})
print(example_t)

example_t2 = pd.DataFrame({'Ale':['It was nice', 'Bad experience'], 'María':['I liked the place', 'The place wasnt clean']})
example_t2

# This syntax for declaring DataFrames is the most common. We define a dictionary whose keys are the column names and whose values are a list of entries.
# For the rows, by default there are just number assigned, but we could give them names.
example_t2 = pd.DataFrame({'Ale':['It was nice', 'Bad experience'], 'María':['I liked the place', 'The place wasnt clean']}, index = ['Restaurant A', 'Restaurant B'])
print(example_t2)

# In the same way as before, we could create a Pandas Series just with a list, but it wont have a column name
ser = pd.Series([1, '2', [3, '4'], 'Ale', 5.6])

# We can give it an overall name, and indexes names. Also we can think of a DataFrame as a bunch of Series together.
ser = pd.Series([1, '2', [3, '4'], 'Ale', 5.6], index = ['Val1', 'Val2', 'Val3', 'Val4', 'Val5',], name = 'Table 1')
print('\n',ser)

# Although most times we wont be writing the DataFrames but loading them. 
path = 'winemag-data_first150k.csv'
df = pd.read_csv(path)
# print(df.head())         # This shows the firsts rows and columns, to have an idea of what's the csv like
print(df.shape)          # We have (150930, 11), which means 150930 rows and 11 columns

# We saw that there's an index included in the csv, so to avoid repeating indexes we can specify to use that one.
df = pd.read_csv(path, index_col = 0)
print(df.head())
print(df.shape)       # After selecting index_col = 0, we got 10 columns.

# Finally, to save a DataFrame as a csv
# example_t2.to_csv('ale_maria_rating.csv')

   Yes   No
0   51  132
1   22    3
                         Ale                  María
Restaurant A     It was nice      I liked the place
Restaurant B  Bad experience  The place wasnt clean

 Val1         1
Val2         2
Val3    [3, 4]
Val4       Ale
Val5       5.6
Name: Table 1, dtype: object
(150930, 11)
  country                                        description  \
0      US  This tremendous 100% varietal wine hails from ...
1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2      US  Mac Watson honors the memory of a wine once ma...
3      US  This spent 20 months in 30% new French oak, an...
4  France  This is the top wine from La Bégude, named aft...

                            designation  points  price        province  \
0                     Martha's Vineyard      96  235.0      California
1  Carodorum Selección Especial Reserva      96  110.0  Northern Spain
2         Special Selected Late Harvest      96   90.0      California
3                               Reserve      96   65.0          Oregon
4                            La Brûlade      95   66.0        Provence

            region_1           region_2             variety  \
0        Napa Valley               Napa  Cabernet Sauvignon
1               Toro                NaN       Tinta de Toro
2     Knights Valley             Sonoma     Sauvignon Blanc
3  Willamette Valley  Willamette Valley          Pinot Noir
4             Bandol                NaN  Provence red blend

                    winery
0                    Heitz
1  Bodega Carmen Rodríguez
2                 Macauley
3                    Ponzi
4     Domaine de la Bégude
(150930, 10)

2. Indexing, selecting and assigning

In [147]:
# To access a column or an element
df.country
df['country']
print(df['country'][0])
print(df.country[1])

# We can also access to elements using the loc and iloc indexers. Both are row-first, column-second.
print(df.iloc[0])         # We got the information in the first row
print(df.iloc[:, 0])      # All rows, just one column (country)
df.iloc[:3, 0]            # Just 3 rows, one column
df.iloc[[1,2,3],0]        # We could also pass a list
df.iloc[-5:]              # Or a negative index

# To use label-based selection we do it with loc
print(df.loc[1, 'country'])
print(df.loc[:, ['price', 'region_1', 'variety']])      # If we know wich columns interest us, it might be easier to use loc

# The index is not immutable, we can change it
df.set_index('designation')

US
Spain
country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                      235.0
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
points_dif                                              8.111582
Name: 0, dtype: object
0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object
Spain
        price           region_1             variety
0       235.0        Napa Valley  Cabernet Sauvignon
1       110.0               Toro       Tinta de Toro
2        90.0     Knights Valley     Sauvignon Blanc
3        65.0  Willamette Valley          Pinot Noir
4        66.0             Bandol  Provence red blend
...       ...                ...                 ...
150925   20.0  Fiano di Avellino         White Blend
150926   27.0          Champagne     Champagne Blend
150927   20.0  Fiano di Avellino         White Blend
150928   52.0          Champagne     Champagne Blend
150929   15.0         Alto Adige        Pinot Grigio

[150930 rows x 3 columns]

,country,description,points,price,province,region_1,region_2,variety,winery,points_dif
designation,,,,,,,,,,
Martha's Vineyard,US,This tremendous 100% varietal wine hails from ...,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,8.111582
Carodorum Selección Especial Reserva,Spain,"Ripe aromas of fig, blackberry and cassis are ...",96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,8.111582
Special Selected Late Harvest,US,Mac Watson honors the memory of a wine once ma...,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,8.111582
Reserve,US,"This spent 20 months in 30% new French oak, an...",96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,8.111582
La Brûlade,France,"This is the top wine from La Bégude, named aft...",95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,7.111582
...,...,...,...,...,...,...,...,...,...,...
NaN,Italy,Many people feel Fiano represents southern Ita...,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio,3.111582
Cuvée Prestige,France,"Offers an intriguing nose with ginger, lime an...",91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain,3.111582
Terre di Dora,Italy,This classic example comes from a cru vineyard...,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora,3.111582
Grand Brut Rosé,France,"A perfect salmon shade, with scents of peaches...",90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset,2.111582
NaN,Italy,More Pinot Grigios should taste like this. A r...,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder,2.111582

3. Conditional selecting

In [113]:
# To know if a wine is Italian
df.country == 'Italy'
df.loc[df.country == 'Italy']
# df[df.country == 'Italy']         # We could do this too

# We also wanted to know which ones are better than average. Wines are reviewed on a 80-to-100 point scale, so this could mean wines that accrued at least 90 points
df.loc[(df.country == 'Italy') & (df.points >= 90)]
# If any of the previous is right (or)
df.loc[(df.country == 'Italy') | (df.points >= 90)]

# There are also some built-in selectors
df.loc[df.country.isin(['Italy', 'France'])]        # We get all columns for wines coming from France or Italy

# We can use is isnull (and its companion notnull). These methods let you select values which are (or are not) empty (NaN).
df.loc[df.price.notnull()]
df.loc[df.price.isnull()]

# To assign elements
# df['winery'] = 'Excelent Winery'       # This asigns the same string to all values in the row
# df['index_backwards'] = range(len(df), 0, -1)         # This asigns a reverse count to price. range(start, stop, step)
# print(df.winery)
# print(df['index_backwards'])

,country,description,designation,points,price,province,region_1,region_2,variety,winery,points_dif
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga,2.111582
56,France,"Delicious while also young and textured, this ...",Le Pavé,90,NaN,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Domaine Vacheron,2.111582
72,Italy,"This offers aromas of red rose, wild berry, da...",Bussia Riserva,91,NaN,Piedmont,Barolo,NaN,Nebbiolo,Silvano Bolmida,3.111582
82,Italy,"Berry, baking spice, dried iris, mint and a hi...",Palliano Riserva,91,NaN,Piedmont,Roero,NaN,Nebbiolo,Ceste,3.111582
116,Spain,Aromas of brandied cherry and crème de cassis ...,Dulce Tinto,86,NaN,Levante,Jumilla,NaN,Monastrell,Casa de la Ermita,-1.888418
...,...,...,...,...,...,...,...,...,...,...,...
150377,New Zealand,"Light and a bit herbal, like a pleasant St.-Jo...",Matheson,84,NaN,Hawke's Bay,NaN,NaN,Syrah,Matua Valley,-3.888418
150378,New Zealand,"Impressive purple color, but less intense on t...",NaN,84,NaN,Martinborough,NaN,NaN,Syrah,Kusuda,-3.888418
150587,Canada,"Shows pronounced oily, earthy, almost tobacco-...",Icewine,90,NaN,Ontario,Lake Erie North Shore,NaN,Riesling,Colio,2.111582
150673,US,"Cherry-scented, clean and fruity. Good concent...",NaN,87,NaN,California,Dry Creek Valley,Sonoma,Zinfandel,Taft Street,-0.888418
150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano,3.111582

4. Summary functions and maps

In [115]:
# # With the describe function we can get some useful data
# df.points.describe()
# df.describe()
# # Although it's much better for numerical columns than for string columns
# df.winery.describe()

# There are some other useful functions:
df.points.mean()
df.winery.unique()
df.winery.value_counts()           # To see a list of unique values and how often they occur in the dataset

array(['Heitz', 'Bodega Carmen Rodríguez', 'Macauley', ..., 'Screwed',
       'Red Bucket', 'White Knot'], dtype=object)

In [98]:
# A map is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values
# Maps are very useful because otherwise it's hard to change all the values in a column, passing a function.
# As a reminder; lambda arguments : expression
df_points_mean = df.points.mean()
print(df_points_mean)
df['points_dif'] = df.points        # We add a new column
""" print(df.points_dif.map(lambda p: p  - df_points_mean))     # Printing the mapped results
df['points_dif'] = df.points_dif.map(lambda p: p  - df_points_mean)         # Includig the mapped function in the DS
df.head() """

# Apply() is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.
def remean_points(row):
    # row.points_dif = row.points_dif - df_points_mean
    row['points_dif'] = row['points_dif'] - df_points_mean
    return row

df = df.apply(remean_points, axis='columns')
df.head()

# If we had called reviews.apply() with axis='index', then instead of passing a function to transform each row, we would need to 
# give a function to transform each column, which is similar to what we did with map().
# Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're 
# called on. If we dont assign df = map() or apply(), we'll see that it still has it's original points value.

87.8884184721394

,country,description,designation,points,price,province,region_1,region_2,variety,winery,points_dif
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,8.111582
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,8.111582
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,8.111582
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,8.111582
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,7.111582

In [99]:
# Another use of the map function. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many 
# times each of these two words appears in the description column in the dataset.

n_trop = df.description.map(lambda desc: 'tropical' in desc).sum()
n_fruit = df.description.map(lambda desc: 'fruity' in desc).sum()
# As a reminder, map returns a series, so we can get the sum of all the 1 in the series.
descriptor_counts = pd.Series([n_trop, n_fruit], index = ['Tropical wines: ', 'Fruity wines: '])
print(descriptor_counts)

Tropical wines:     4135
Fruity wines:       8669
dtype: int64

In [100]:
# Here we have another use of the apply function: 
# We'd like to host these wine reviews on our website, but a rating system ranging from 
# 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, 
# a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.
# Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, 
# regardless of points.
# We want to create a series star_ratings with the number of stars corresponding to each review in the dataset.
def stars(row):
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1

star_ratings = df.apply(stars, axis = 1)        # axis = 1, apply to rows; axis = 0 apply function to each column. By default, axis 0.
print(star_ratings)

0         3
1         3
2         3
3         3
4         3
         ..
150925    2
150926    2
150927    2
150928    2
150929    2
Length: 150930, dtype: int64

In [101]:
# Sometimes Pandas library can understand what we did before, without having to map the function
df_points_mean = df.points.mean()
print(df.points - df_points_mean)

# Pandas will also understand how to operate with Series of the same length, without having to specify anything
print(df.region_1 + '&' + df.variety)

# Doing this is useful for easy tasks, but for more advanced like passing functions map() and apply() are better.

0         8.111582
1         8.111582
2         8.111582
3         8.111582
4         7.111582
            ...
150925    3.111582
150926    3.111582
150927    3.111582
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64
0         Napa Valley&Cabernet Sauvignon
1                     Toro&Tinta de Toro
2         Knights Valley&Sauvignon Blanc
3           Willamette Valley&Pinot Noir
4              Bandol&Provence red blend
                       ...
150925     Fiano di Avellino&White Blend
150926         Champagne&Champagne Blend
150927     Fiano di Avellino&White Blend
150928         Champagne&Champagne Blend
150929           Alto Adige&Pinot Grigio
Length: 150930, dtype: object

4. Grouping and sorting

In [138]:
# We saw before the function value_counts(), to get info grouped by unique values. But we can group in different ways using groupyby(), 
# in a similar way as we would do in SQL. Here we replicate value_counts with groupby.
# df.points.value_counts()
df.groupby('points').count()            # Shows all columns, doesnt make much sense here
df.groupby('points').points.count()     # Shows just points

# But we can use the groupby() function for much more. For instance, to get the cheapest wine in each point value category, we can 
# do the following
df.groupby('points').price.min()

# When we group, we are creating 'slices' of the DF. We can access this sliced DF with the apply() function. Here we select the first type 
# of wine reviewed for each winery.
df.groupby('winery').apply(lambda df: df.designation.iloc[0])

# For even more precision, we can also group by more than one column. Now we pick the best wine by country and province.
df.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])
# df.groupby(['country', 'province']).max()

# It can be interesting to have more than one function with a single groupby()
df.groupby('country').price.agg([min, max])

                         min     max
country
Albania                 20.0    20.0
Argentina                4.0   250.0
Australia                5.0   850.0
Austria                  8.0  1100.0
Bosnia and Herzegovina  12.0    13.0
Brazil                  11.0    35.0
Bulgaria                 7.0    28.0
Canada                  12.0   145.0
Chile                    5.0   400.0
China                    7.0    27.0
Croatia                 12.0    65.0
Cyprus                  10.0    22.0
Czech Republic          15.0    25.0
Egypt                    NaN     NaN
England                 38.0    75.0
France                   5.0  2300.0
Georgia                  9.0    40.0
Germany                  5.0   775.0
Greece                   7.0   120.0
Hungary                  7.0   764.0
India                   10.0    20.0
Israel                   8.0   150.0
Italy                    5.0   900.0
Japan                   24.0    24.0
Lebanon                 12.0    51.0
Lithuania               10.0    10.0
Luxembourg              36.0    50.0
Macedonia               12.0    25.0
Mexico                  12.0   108.0
Moldova                  8.0    42.0
Montenegro              10.0    10.0
Morocco                  6.0    35.0
New Zealand              7.0   125.0
Portugal                 4.0   980.0
Romania                  4.0   320.0
Serbia                  15.0    42.0
Slovakia                15.0    16.0
Slovenia                 7.0    90.0
South Africa             5.0   145.0
South Korea             11.0    16.0
Spain                    4.0   770.0
Switzerland             19.0    38.0
Tunisia                  NaN     NaN
Turkey                  14.0   120.0
US                       4.0  2013.0
US-France               50.0    50.0
Ukraine                 13.0    13.0
Uruguay                  7.0    60.0

In [153]:
# When we use groupby() it will sometimes result in a multi-index
countries_reviewed = df.groupby(['country', 'province']).description.agg([len])
print(countries_reviewed)          # Here we just have one columns, and 2 indexes; the first one is the country and the second one the province

mi = countries_reviewed.index
type(mi)

# If we want to convert the multi-index back to a normal index, getting 3 columns and an index
countries_reviewed.reset_index()

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246
...                          ...
Uruguay   Juanico             19
          Montevideo           3
          Progreso             5
          San Jose            15
          Uruguay             18

[455 rows x 1 columns]

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

In [156]:
# When we used groupby() before, we got them in index order. If we want to have them by value order we can use sort_values()
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by = 'len')          # ascending=False, to change to descending.

# It's possible to sort by more than one column. In each country, we'll have them sorted by len.
countries_reviewed.sort_values(by=['country', 'len'])

     level_0  index    country          province   len
0          0      0    Albania           Mirditë     2
2          2      2  Argentina             Other   889
1          1      1  Argentina  Mendoza Province  4742
5          5      5  Australia        Queensland     3
7          7      7  Australia          Tasmania    47
..       ...    ...        ...               ...   ...
448      448    448    Uruguay           Colonia     6
453      453    453    Uruguay          San Jose    15
454      454    454    Uruguay           Uruguay    18
447      447    447    Uruguay         Canelones    19
450      450    450    Uruguay           Juanico    19

[455 rows x 5 columns]

5. Data types and missing values

In [161]:
# The data type for a column in a DataFrame or a Series is known as the dtype
df.price.dtype

# We can also see the types off all columns
df.dtypes

# It's possible to convert a column of one type into another wherever such a conversion makes sense by using the astype() function
df.points.astype('float64')

# If we have missing values, we could use Pandas built-in function fillna()
df.region_2.fillna("Unknown")

# To replace a non-missing value
df.winery.replace('Bodega Carmen Rodríguez', 'Carmen Rodríguez')

0                         Heitz
1              Carmen Rodríguez
2                      Macauley
3                         Ponzi
4          Domaine de la Bégude
                  ...
150925    Feudi di San Gregorio
150926                H.Germain
150927                Terredora
150928                   Gosset
150929            Alois Lageder
Name: winery, Length: 150930, dtype: object

6. Renaming and combining

In [ ]:
# It's possible to change columns and index names
df.rename(columns={'points': 'score'})

# To rename an index, it's possible to use a dictionary like this one, where the key is the old index value.
df.rename(index={0: 'firstEntry', 1: 'secondEntry'})

""" # When performing operations on a dataset, we will sometimes need to combine different DataFrames and/or Series. We could do this with concat() or join()
canadian_youtube = pd.read_csv("../input/youtube-new/CAvideos.csv")
british_youtube = pd.read_csv("../input/youtube-new/GBvideos.csv")

pd.concat([canadian_youtube, british_youtube])
# We're supposing here that both DF have the same columns. One DF would go just below the other. """

""" # But we can also do joins, just as we would in SQL
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK') """